# Default ignored files
/../../Periodic Process Logger with Auto Scheduled Log Report and Mail Sending Facility./.idea/shelf/
/../../Periodic Process Logger with Auto Scheduled Log Report and Mail Sending Facility./.idea/workspace.xml
